requests==2.26.0
gunicorn
scikit-learn==1.1.2
pytz
Flask==2.0.2
PyDrive2==1.10.0
Jinja2==3.0.2
Werkzeug==2.0.2
python-dotenv==0.19.1
redis==3.5.3
beautifulsoup4==4.11.1
flask-socketio==5.3.1
msgpack==1.0.3
