body{
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  color: #cccccc;
  margin-bottom: 100px;
}

.scene-background{
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a{
  text-decoration: underline;
  color: dodgerblue;
}

.center{
  display: block;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.first{
  background: midnightblue;
}

.lang-text{
  display: inline-block;
  width: 80px;
  max-width: 100%;
  text-align: right;
}

.lang-box{
  display: inline-block;
  width: 120px;
  max-width: 100%;
}

.nav-header{
  padding: 0;
  margin: auto;
  font-size: 150%;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu{
  background-color: dimgray;
}

.card-body{
  background-color: dimgray;
  color: white;
}

.table{
  color:white;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 9999;
}

tbody tr th {
  font-weight:normal;
}

tbody tr td{
  vertical-align: middle;
}

.dialog-avatar {
  margin: 8px;
  margin-right: 24px;
}

.avatar-container {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  padding: 4px 4px 4px 4px;
}

.avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar-frame {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar-col-header{
  width: 100px;
}

/* .fieldskill-col-header{
  width: 220px;
} */


/* .fieldskill-container {
  display: inline-block;
  position: relative;
  width: 214px;
  height: 102px;
  padding: 4px 4px 4px 4px;
}

.fieldskill-image {
  position: absolute;
  width: 214px;
  height: 102px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fieldskill-frame {
  position: absolute;
  width: 214px;
  height: 102px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.side-canvas{
  position: relative;
  max-height: 1080px;
}

.side-selectable{
  float: right;
  vertical-align: top;
  margin-top: 16px;
  margin-right: 5%;
  max-width: 25%;
}

.main-selectable{
  vertical-align: top;
  margin-top: 16px;
  margin-right: 5%;
  max-width: 25%;
  display: inline-block;
}

.item{
  display: inline-block;
  padding: 8px;
}

.table-hover tbody tr:hover td {
  background:slategrey;
}

.fixed-table-toolbar{
  margin-left: 8px;
  margin-right: 8px;
}

.modal .modal-dialog {
  color:black;
}

.modal-body .fixed-table-container table{
  color: black;
}

.table-main {
  max-width: 80%;
  margin: auto;
  text-align: center;
}


.normal-skill{
  color:white;
}

.special-skill{
  color:gold;
}

.change-skill{
  color: aqua;
}

.trainboard-skill{
  color: deeppink;
}

.locationpin{
  position: absolute;
  cursor:pointer;
}

.locationchapter{
  position: absolute;
  font-size: 24px;
  left: 20px;
  top: 86px;
  color:black;
  background-color: rgba(255,255,255,0.4);
}

.offcanvas{
  background-color:rgb(30,30,30);

}

.btn-close{
  background-color: white;
}

.mulcol-list li{
  font-size:18px;
  display: block;
  width: 33%;
  float:left;
}

.dialog-section{
  max-width: 80%;
  margin: auto;
  display: block;
}

.dialogbox{
  position: relative;
  display: flex;
  border: solid;
  border-color: brown;
  font-size: 24px;
  padding: 8px;
  margin-bottom: 16px;
  min-height: 128px;
  background-color: rgba(0, 0, 0, 0.6);
}

.dialogbox-playing{
  background-color: rgb(60,60,60);
}

.dialog-voice-icon{
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}

.settings-right{
  float: right;
  margin-top: 16px;
  margin-right: 16px;
}

.settings-left{
  float: left;
  margin-top: 16px;
  margin-left: 16px;
}

.settings-left:hover{
  background-color: rgba(200, 200, 200, 0.5);
}

.settings-right-fixed{
  position: fixed;
  margin-top: 16px;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  right: 0px;
  top: 40px;
  background-color: rgba(130,130,130,0.5);
  z-index: 99;
}

.settings-right-fixed:hover{
  background-color: rgba(200, 200, 200, 0.5);
}

.setting-button{
  background-color: rgba(0,0,0,0);
  border: none;
}

.link-skill{
  color: yellowgreen;
}

.modal-content{
  background-color: #2e2e2e;
  color: #cccccc;
}

.wrapper-editable{
  border: solid 1px white;
  resize: both;
  overflow: hidden;
}