<!DOCTYPE html>
<html>
  <head>
    <title>ミストレ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
    <script src="{{ url_for('static', filename='js/gl-matrix-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <script src="{{ url_for('static', filename='js/spine-all.js') }}"></script>
    <script src="{{ url_for('static', filename='js/howler.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/managers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vocab.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mtg_game.js') }}"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    <script src="{{ url_for('static', filename='js/char_spine.js') }}"></script>
    
    <script>
      var __CharacterId = '{{ ch_id }}';
      
      window.addEventListener("load", ()=>{
        DataManager.initialize();
        AssetsManager.initialize();
        Vocab.initialize();
        init_navbar();
        init_totop_button();
      });
    </script>
    <script src="{{ url_for('static', filename='js/char_info.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      {{ navbar_content | safe }}
    </nav>
    <br>
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
      <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg">
    </button>

    <div class="center h1" id="character-title"></div>
    <br>
    <div>
      <table class="table table-bordered table-main">
        <thead>
          <tr>
            <th label="l-Avatar"></th>
            <th label="l-Rarity"></th>
            <th label="l-Type"></th>
            <th label="l-Weapon"></th>
            <th label="l-AttackAttributes"></th>
            <th label="l-GrowthTendency"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="character-icon"></td>
            <td id="character-rarity"></td>
            <td id="character-type"></td>
            <td id="character-weapon"></td>
            <td id="character-atkattr"></td>
            <td id="character-growth"></td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th colspan="9" label="l-SelfIntro"></th>
          </tr>
        </thead>
        <tbody><tr><td id="character-intro" colspan="8"></td></tr></tbody>
        <thead>
          <tr>
            <th colspan="8" label="l-AttributeResist"></th>
          </tr>
        </thead>
      </table>
      <table class="table table-bordered table-main">
        <thead>
          <tr>
            <th><img src="{{ url_for('static', filename='/assets/resist_blade.png') }}"></th>
            <th><img src="{{ url_for('static', filename='/assets/resist_impact.png') }}"></th>
            <th><img src="{{ url_for('static', filename='/assets/resist_pierce.png') }}"></th>
            <th><img src="{{ url_for('static', filename='/assets/resist_fire.png') }}"></th>
            <th><img src="{{ url_for('static', filename='/assets/resist_water.png') }}"></th>
            <th><img src="{{ url_for('static', filename='/assets/resist_wind.png') }}"></th>
            <th><img src="{{ url_for('static', filename='/assets/resist_holy.png') }}"></th>
            <th><img src="{{ url_for('static', filename='/assets/resist_dark.png') }}"></th>
          </tr>
        </thead>
        <tbody>
          <tr id="row-attr-resist">
          </tr>
        </tbody>
        <thead>
          <tr>
            <th colspan="9">
              <span label="l-StatusInflation"></span>
              <span id="status-title"></span>
            </th>
          </tr>
          <tr id="head-attr-growth">
            <th colspan="2" id="th-status-1"></th>
            <th colspan="2" id="th-status-2"></th>
            <th colspan="2" id="th-status-3"></th>
            <th colspan="2" id="th-status-4"></th>
          </tr>
        </thead>
        <tbody>
          <tr id="body-attr-growth">
            <td colspan="2" id="td-status-1"></td>
            <td colspan="2" id="td-status-2"></td>
            <td colspan="2" id="td-status-3"></td>
            <td colspan="2" id="td-status-4"></td>
          </tr>
        </tbody>
        <thead>
          <tr id="head-attr-growth2">
            <th colspan="2" id="th-status-5"></th>
            <th colspan="2" id="th-status-6"></th>
            <th colspan="2" id="th-status-7"></th>
            <th colspan="2" id="th-status-8"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2" id="td-status-5"></td>
            <td colspan="2" id="td-status-6"></td>
            <td colspan="2" id="td-status-7"></td>
            <td colspan="2" id="td-status-8"></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-main">
        <thead>
          <th colspan="6" label="l-ActiveSkill"></th>
        </thead>
        <thead>
          <tr>
            <th label="l-Name">_</th>
            <th label="l-Cost">_</th>
            <th label="l-Power">_</th>
            <th label="l-Attribute">_</th>
            <th label="l-Scope">_</th>
            <th label="l-Effect">_</th>
          </tr>
        </thead>
        <tbody id="tbody-active-skill">
        </tbody>
      </table>
      <table class="table table-bordered table-main">
        <thead>
          <th colspan="2" label="l-PassiveSkill"></th>
        </thead>
        <thead>
          <tr>
            <th label="l-Name">_</th>
            <th label="l-Effect">_</th>
          </tr>
        </thead>
        <tbody id="tbody-passive-skill">
        </tbody>
      </table>
    </div>
    <br><br>
    <div class="center h3" label="l-CharacterPainting"></div>
    <hr>
    <div id="character-canvas-container" class="center">
      <div id="char-zooms" style="display: none;">
        <button id="char-zoomin" label="l-ZoomIn"></button>
        <button id="char-zoomout" label="l-ZoomOut"></button>
        <button id="char-saveframe" label="l-SaveFrame" onclick="exportCharacterCanvas()"></button>
      </div>
      <br>
      <div class="spinner-border center" id="character-loading-indicator">
        <span class="sr-only"></span>
      </div>  
      <div style="display: inline;">
        <canvas id="character-canvas" class="side-canvas" width="300" height="400"></canvas>
        <select id="char-act-list" class="form-select side-selectable" size="1" aria-label="select">
        </select>
      </div>
    </div>
    <br><br>

    <div>
      <div class="center h3" label="l-CharacterVoice"></div>
      <hr>
      <div class="center">
        <p style="display: inline-block; padding: 4px;">
          <input type="checkbox" id="ckb_voiceautoplay">
          <label for="ckb_voiceautoplay" label="l-SceneAutoPlay"></label>
        </p>
      </div>
      <div class="center">
        <div style="display: inline;">
          <audio id="voice-player" preload="auto" style="width: 50%; height: 214px;"
            type="audio/mpeg" controls>
            Your browser doesn't support HTML5 <code>audio</code>. Please use other modern browser.
          </audio>
          <select id="voice-list" class="form-select side-selectable" size="8" aria-label="select">
          </select>
        </div>
      </div>
    </div>

    <br><br>
    <div>
      <div class="center h3" label="l-CharacterFigure"></div>
      <hr>
      <div id="battler-utils" class="center" style="display: none;">
        <div style="display: inline-block; padding: 16px;">
          <p id="battler-anim-pause" style="cursor:pointer;" onclick="toggleBattlerAnimationPause()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pause-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z"/>
            </svg>
          </p>
        </div>
        <button type="button" data-toggle="modal" data-target="#settingsModal" label="l-Settings">
        </button>
        <p style="display: inline-block; padding: 16px;">
          <button id="btn-export-anim" label="l-ExportAnimation" onclick="prepareBattlerAnimRecord()" disabled></button>
        </p>
        <button id="battler-saveframe" label="l-SaveFrame" onclick="exportBattlerCanvas()"></button>
        <span style="padding: 16px;">
          <select id="battler-skin-list" aria-label="select">
          </select>
        </span>
      </div>
      <div id="battler-canvas-container" class="center">
        <div class="spinner-border center" id="battler-loading-indicator">
          <span class="sr-only"></span>
        </div>
        <div style="display: inline;">
          <canvas id="battler-canvas" class="side-canvas"></canvas>
          <select id="battler-act-list" class="form-select side-selectable" size="1" aria-label="select">
          </select>
        </div>
      </div>
    </div>
    <hr>
    

    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="settingsModalLabel" label="l-Settings"></h5>
          </div>
          <div class="modal-body">
            <div>
              <p style="display: inline-block; padding: 4px;">
                <input type="checkbox" id="ckb_drawbattlerbg" onclick="DrawBattlerBackground = $(this).prop('checked')">
                <label for="ckb_drawbattlerbg" label="l-DrawBackground"></label>
              </p>
              <p style="display: inline-block; padding: 4px;">
                <input type="checkbox" id="ckb_badbg" onclick="BattlerRenderer.debugRendering = $(this).prop('checked')">
                <label for="ckb_badbg" label="l-DrawSpineBones"></label>
              </p>
              <p style="display: inline-block; padding: 4px;">
                <input type="checkbox" id="ckb-loop-battler-anim">
                <label for="ckb-loop-battler-anim" label="l-LoopAnimation"></label>
              </p>
            </div>
            <div>
              <p style="display: inline-block; padding: 4px;">
                <input type="checkbox" id="ckb-play-full-skill" onclick="PlayFullSkillAnimation = this.checked">
                <label for="ckb-play-full-skill" label="l-FullSkillAnimation"></label>
              </p>
            </div>
            <div style="padding: 8px;">
              <label label="l-CanvasHeightRatio"></label>
              <input id="inp-bacanvas-ratio" style="vertical-align:bottom;" type="range" min="0.5" max="2.0" value="0.85" step="0.05" oninput="$('#text-bacanvasratio').text(this.value)">
              <span id="text-bacanvasratio" style="vertical-align:top;">0.85</span>
            </div>
            <div style="padding: 8px;">
              <label label="l-CharacterX"></label>
              <input type="number" value="0" id="inp-battler-x">
              <br>
              <label label="l-CharacterY"></label>
              <input type="number" value="0" id="inp-battler-y">
            </div>
            <div style="padding: 8px;">
              <label label="l-ZoomLevel"></label>
              <input id="inp-battler-zoom" style="vertical-align:bottom;" type="range" min="0.5" max="10.0" value="7.5" step="0.1" oninput="$('#text-battlerzoom').text(this.value)">
              <span id="text-battlerzoom" style="vertical-align:top;">7.5</span>
            </div>
            <div style="padding: 8px;">
              <input type="checkbox" id="ckb-camerafollow" onclick="CameraFollowBattler = $(this).prop('checked')">
              <label for="ckb-camerafollow" label="l-CameraFollow"></label>
              <br>
              <label label="l-CameraTarget"></label>
              <input type="number" min="0" max="10" value="1" id="inp-camera-target">
            </div>
            <div style="padding: 8px;">
              <label label="l-ScenePlaySpeed"></label>
              <input id="inp-battler-timescale" style="vertical-align:bottom;" type="range" min="0.1" max="3.0" value="1.0" step="0.1" oninput="$('#text-battlertimescale').text(this.value)">
              <span id="text-battlertimescale" style="vertical-align:top;">1.0</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" label="l-Yes" onclick="updateBattlerSettings()"></button>
          </div>
        </div>
      </div>
    </div>

  </body>
  <script>
    $('input[type=checkbox]').prop('checked', false);
    $('#ckb_voiceautoplay').prop('checked', true);
    $('#ckb_drawbattlerbg').prop('checked', true);
    $('#ckb-loop-battler-anim').prop('checked', true);
    $('#ckb-play-full-skill').prop('checked', true);
    $("#inp-battler-x").prop('defaultValue', 0);
    $("#inp-battler-y").prop('defaultValue', 0);
    $("#inp-battler-x").prop('value', 0);
    $("#inp-battler-y").prop('value', 0);
    $("#inp-battler-x").on('change', enforceNumericInput);
    $("#inp-battler-y").on('change', enforceNumericInput);
    $("#inp-battler-zoom").on('change', enforceNumericInput);
    $("#ckb-camerafollow").prop('checked', true);
    $("#inp-camera-target").prop('value', 1);
    $("#inp-camera-target").prop('defaultValue', 1);
    $("#inp-camera-target").on('change', (e)=>{
      enforceNumericInput(e);
      BattlerKeyBoneIndex = e.target.value;
    });
    $("#inp-battler-timescale").prop('value', 1.0);
    $("#inp-battler-timescale").on('change', (e)=>{
      BattlerAnimState.timeScale = parseFloat(e.target.value);
    });

    function enforceNumericInput(event){
      let node = event.target;
      let val = parseFloat(node.value);
      if(isNaN(val)){ node.value = node.defaultValue; }
      else{
        let maxn = parseFloat(node.max);
        let minn = parseFloat(node.min);
        if(!isNaN(maxn) && val > maxn){ val = maxn; }
        if(!isNaN(minn) && val < minn){ val = minn; }
        node.value = val;
      }
    }

    function updateBattlerSettings(){
      let chr = $("#inp-bacanvas-ratio").prop('value');
      let cx = parseInt($("#inp-battler-x").prop('value'));
      let cy = parseInt($("#inp-battler-y").prop('value'));
      let cz = parseFloat($("#inp-battler-zoom").prop('value'));
      BattlerCanvas.height = BattlerCanvas.width * chr;
      BattlerSkeleton.x = cx;
      BattlerSkeleton.y = -cy;
      BattlerSkeletonShrinkRate = BattlerSkeletonShrinkFactor - cz;
      resizeBattlerCanvas();
    }

  </script>
</html>