<!DOCTYPE html>
<html>
  <head>
    <title>ミストレDB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/gl-matrix-min.js') }}"></script>
    <script src="https://unpkg.com/@msgpack/msgpack@2.4.1/dist.es5+umd/msgpack.min.js" integrity="sha384-1QkR1O/KG1VWNOc6j488GfFuKx8YtXfv74ufbwpknN2hWXgRTreeOl0a3aNjxK7q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <script src="{{ url_for('static', filename='js/spine-all.js') }}"></script>
    <script src="{{ url_for('static', filename='js/howler.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/managers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vocab.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mtg_parser.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mtg_game.js') }}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script src="{{ url_for('static', filename='js/inventory.js') }}"></script>
    <script>
      window.addEventListener("load", ()=>{
        DataManager.initialize();
        AssetsManager.initialize();
        Vocab.initialize();
        init_navbar();
        init_totop_button();
      });
    </script>
    <script src="{{ url_for('static', filename='js/party_builder.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      {{ navbar_content | safe }}
    </nav>
    <br>
    <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
      <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg">
    </button>

    <div>
      <div class="spinner-border center" id="loading-indicator">
      <span class="sr-only"></span>
    </div>

    <div id="party-index" class="center" style="display: none">
        <table id="party-table" class="table table-bordered table-responsive table-centered">
          <tbody id="party-table-body">
          </tbody>
        </table>
        <table id="fieldskill-table" class="table table-bordered table-centered">
          <thead>
            <tr>
                <th id="fieldskill-1"></th>
                <th id="fieldskill-2"></th>
                <th id="fieldskill-3"></th>
                <th id="fieldskill-4"></th>
                <th id="formation">
                    <a id="formation-container"></a>
                    <p label="formation-label"></p>
                </th>
                <th id="ex-status" style="text-align: left; vertical-align: top;">
                    <p label="l-ExStatus" style="font-weight: bold;"></p>
                    <span label="l-HP"></span><span>: </span>
                    <input type="number" value="0" id="ex-hp" style="width: 80px;">
                    <p></p>
                    <span label="l-Others"></span><span>: </span>
                    <input type="number" value="0" id="ex-stat" style="width: 80px;">
                </th>
            </tr>
          </thead>
        </table>

      </div>
      <hr>
      <div id="party-tabs" class="tab-container" style="display: none;">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link tab-major" data-toggle="tab" href="#party-preset" label="l-PartyPreset"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-major" data-toggle="tab" href="#equipment-preset" label="l-EquipmentPreset"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-major" data-toggle="tab" href="#party-groups" label="l-PartyGroups"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-major" data-toggle="tab" href="#equipment-settings" label="l-Settings"></a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade" id="party-preset">
            <p label="l-Unimplemented"></p>
          </div>
          <div class="tab-pane fade" id="equipment-preset">
            <div id="equipment-preset-add-container">
              <br>
              <span>
                <a id="btn-preset-add" type="button" class="btn btn-primary btn-handler" onclick="createNewPreset()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>
                </a>
                <label for="btn-preset-add" label="l-AddNewPreset"></label>
              </span>
              &nbsp;&nbsp;
              <span>
                <a id="btn-preset-export" type="button" class="btn btn-primary btn-handler" onclick="exportPreset()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                  </svg>
                </a>
                <label for="btn-preset-export" label="l-Export"></label>
              </span>
              &nbsp;&nbsp;
              <span>
                <a id="btn-preset-import" type="button" class="btn btn-primary btn-handler" onclick="importPreset()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                  </svg>
                </a>
                <label for="btn-preset-import" label="l-Import"></label>
              </span>
              &nbsp;&nbsp;
              <span>
                <a id="btn-cloud-preset-import" type="button" class="btn btn-primary btn-handler" onclick="importServerPresets()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"/>
                    <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                  </svg>
                </a>
                <label for="btn-cloud-preset-import" label="l-ImportCloudDefaults"></label>
              </span>
            </div>
            <hr>
            <table id="equipment-preset-table" class="table table-bordered table-responsive table-centered">
              <tbody id="equipment-preset-table-body">

              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="party-groups">
            <div id="party-group-selector-container">
              <label for="party-group-selector" label="l-PartyGroups"></label>
              <select id="party-group-selector" class="select-major">
                <option id="party-group-selector-placeholder" value="0"></option>
              </select>
            </div>
            <div id="party-group-table-container">
              <table id="party-group-table" class="table table-bordered table-responsive table-centered">
              <tbody id="party-group-table-body">

              </tbody>
            </table>
            </div>
          </div>
          <div class="tab-pane fade" id="equipment-settings">
            <br>
            <div>
              <span>
                <a id="btn-party-export" type="button" class="btn btn-primary btn-handler" onclick="exportParty()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                  </svg>
                </a>
                <label for="btn-preset-export">
                  <span label="l-Export"></span>
                  <span label="l-Party"></span>
                </label>
              </span>
              &nbsp;&nbsp;
              <span>
                <a id="btn-prepartyset-import" type="button" class="btn btn-primary btn-handler" onclick="importParty()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                  </svg>
                </a>
                <label for="btn-preset-import">
                  <span label="l-Import"></span>
                  <span label="l-Party"></span>
                </label>
              </span>
            </div>
            <br>
            <div>
              <span label="l-EquipmentMethod" class="text-major"></span>
              <br>
              <label for="eqm-opt-0">
                <input type="radio" id="eqm-opt-0" name="eqm-opt" value="0">
                <span label="l-EquipmentMethodDescA"></span>
              </label><br>
              <label for="eqm-opt-1">
                <input type="radio" id="eqm-opt-1" name="eqm-opt" value="1">
                <span label="l-EquipmentMethodDescB"></span>
              </label>
            </div>
            <div>
              <br>
              <span label="l-EquipmentJewelMethod" class="text-major"></span>
              <br>
              <label for="eqjm-opt-0">
                <input type="radio" id="eqjm-opt-0" name="eqjm-opt" value="0">
                <span label="l-EquipmentJewelMethodDescA"></span>
              </label><br>
              <label for="eqjm-opt-1">
                <input type="radio" id="eqjm-opt-1" name="eqjm-opt" value="1">
                <span label="l-EquipmentJewelMethodDescB"></span>
              </label><br>
              <label for="eqjm-opt-2">
                <input type="radio" id="eqjm-opt-2" name="eqjm-opt" value="2">
                <span label="l-EquipmentJewelMethodDescC"></span>
              </label><br>
              <label for="eqjm-opt-3">
                <input type="radio" id="eqjm-opt-3" name="eqjm-opt" value="3">
                <span label="l-EquipmentJewelMethodDescD"></span>
              </label><br>
              <label for="eqjm-opt-4">
                <input type="radio" id="eqjm-opt-4" name="eqjm-opt" value="4">
                <span label="l-EquipmentJewelMethodDescE"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

  </body>

  <div class="modal fade modal-action" id="modal-action" tabindex="-1" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <label for="skill-group-select" label="l-Ability"></label>
            <select id="skill-group-select"></select>
            <hr>
            <button type="button" class="btn btn-secondary btn-major" data-bs-dismiss="modal" label="l-Cancel"></button>
            <button type="button" class="btn btn-primary btn-major" label="l-AddBookmark" onclick="alert(Vocab['Unimplemented'])"></button>
            <button type="button" class="btn btn-primary btn-major" label="l-Choose" onclick="onEditorChoose()"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-action" id="modal-action-2" tabindex="-1" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn btn-secondary btn-major" data-bs-dismiss="modal" label="l-Cancel"></button>
          <button type="button" class="btn btn-primary btn-major" label="l-SavePartyToGame" onclick="preApplyToGameParty()"></button>
          <button type="button" class="btn btn-primary btn-major" label="l-LoadPartyFromGame" onclick="applyFromGameParty()"></button>
          <div>
            <div class="spinner-border center" id="loading-indicator-2"></div>
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-action" id="modal-action-3" tabindex="-1" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <span label="l-ApplyTo"></span>
          <button type="button" class="btn btn-primary btn-major" onclick="applyPreset(1)">1</button>
          <button type="button" class="btn btn-primary btn-major" onclick="applyPreset(2)">2</button>
          <button type="button" class="btn btn-primary btn-major" onclick="applyPreset(3)">3</button>
          <button type="button" class="btn btn-primary btn-major" onclick="applyPreset(4)">4</button>
          <button type="button" class="btn btn-primary btn-major" onclick="applyPreset(5)">5</button>
          <button type="button" class="btn btn-secondary btn-major" data-bs-dismiss="modal" label="l-Cancel"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="loading-overlay" tabindex="-1" role="dialog"
      aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" label="l-LoadText">_</h5>
          </div>
          <div class="modal-body" label="l-BuildPartyHint">
            _
          </div>
        </div>
      </div>
    </div>
</html>